@use "sass:map";
@import '../../../styles/variables';

.users-table {
    padding: 0 30px;
    // margin-top: 40px;
    background-color: #ffffff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    width: 100%;
    overflow-x: auto;


    table {
        width: 100%;
        border-collapse: collapse;
        color: $tetiary-color;
        overflow-x: auto;

        thead {
            tr {
                th {
                    position: relative;
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                    padding: 20px 20px 20px 0;
                    text-align: left;
                    max-width: 200px;
                    word-wrap: break-word;

                    @include breakpointMobile {
                        max-width: 150px;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        img {
                            cursor: pointer;
                        }
                    }

                    &:last-child {
                        min-width: 20px;
                    }
                }
            }
        }

        tbody {
            tr {
                @each $status, $colors in $status-colors {
                    .status-#{$status} {
                        padding: 6px 10px;
                        color: map.get($colors, text);
                        background-color: map.get($colors, background);
                        border-radius: 100px;
                        font-size: 14px;
                    }
                }

                td {
                    font-size: 14px;
                    font-weight: 400;
                    max-width: 200px;
                    padding: 20px 20px 20px 0;
                    text-transform: capitalize;
                    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
                    word-wrap: break-word;


                    &:last-child {
                        position: relative;

                        img {
                            cursor: pointer;
                        }
                    }

                    @include breakpointMobile {
                        max-width: 150px;
                    }
                }

                a {
                    color: $tetiary-color;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .pagination-container {
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: $spacing-md;
        margin-top: 24px;
        padding: 20px 0;

        .loading-more {
            color: $info-color;
            font-size: $font-size-sm;
            font-weight: 500;
        }

        .page-info {
            p {
                color: $info-color;
                font-weight: 400;
                font-size: $font-size-sm;
                line-height: 100%;
                letter-spacing: 0px;


                span {
                    padding: 7px 10px;
                    color: $tetiary-color;
                    font-weight: 500;
                    // background-color: rgba(33, 63, 125, 0.1);
                    border-radius: 4px;

                    img {
                        margin-left: 10px;
                    }
                }
            }
        }

        .page-select {
            padding: 4px 8px;
            border-radius: 4px;
            background: rgba(33, 63, 125, 0.1);
            font-size: $font-size-sm;
            cursor: pointer;
            margin: 0 4px;
            color: $info-color;

            &:focus {
                outline: none;
                border-color: #39cd62;
            }
        }
    }

    .pagination {
        display: flex;
        list-style: none;
        gap: 8px;
        padding: 0;
        margin: 0;
        align-items: center;

        .page-item {

            .page-link {
                padding: 8px 12px;
                // border: 1px solid #e0e0e0;
                border-radius: 4px;
                color: #545f7d;
                cursor: pointer;
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
                transition: all 0.2s ease;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 36px;
                background-color: #fff;

                &:hover {
                    color: $tetiary-color;
                }
            }

            &.disabled {
                .page-link {
                    cursor: not-allowed;
                    opacity: 0.5;
                    pointer-events: none;
                }
            }
        }

        .page-item-btn {
            cursor: pointer;
            height: 24px;
            width: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(33, 63, 125, 0.1);
            border-radius: 4px;
            color: $info-color;
        }

        .active {
            .page-link {
                color: $tetiary-color;

                &:hover {
                    color: $tetiary-color;
                }
            }
        }
    }



}

.users-table-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    font-size: 16px;
    color: #545f7d;
    font-weight: 500;
}