@import '../../styles/variables';
@import '../../styles/mixins';


.user-layout {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;

    &::-webkit-scrollbar {
        display: none;
    }

    .back {
        display: flex;
        align-items: center;
        gap: $spacing-xm;
        cursor: pointer;

        .back-text {
            font-weight: 400;
            font-size: $font-size-base;
            line-height: 100%;
            letter-spacing: 0px;
            color: $info-color;
        }

    }

    .btn-section {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user-text {
            font-weight: 500;
            font-size: $font-size-xl;
            line-height: 100%;
            letter-spacing: 0px;
            color: $tetiary-color;

        }

        .btn {
            display: flex;
            gap: $spacing-sm;
        }
    }

    .nav {
        width: 100%;
        background-color: $bg-color;
        border-radius: 4px;
        min-height: 210px;
        border: 1px solid $tetiary-color-fade-s;
        padding: $spacing-xl;
        padding-bottom: 0;

        .inner-div {
            display: flex;
            align-items: center;

            .user-right {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: $tetiary-color-sfade;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .user-left {
                @include flex-center;
                justify-content: start;

                .group {
                    display: flex;
                    flex-direction: column;
                    padding: $spacing-md $spacing-xl;
                    gap: $spacing-sm;

                    &--first {
                        padding-left: $spacing-md;
                    }

                    &--border {
                        border-right: 1px solid $info-color-fade;
                    }

                    .name {
                        font-weight: 500;
                        font-size: $font-size-lg;
                        line-height: 100%;
                        letter-spacing: 0px;
                        color: $tetiary-color;

                        &--user {
                            font-size: 14px;
                            color: $info-color;

                        }

                        &--id {
                            font-weight: 400;
                            font-size: 14px;
                            color: $info-color;
                        }

                        &--bank {
                            font-weight: 400;
                            font-size: 12px;
                        }

                    }

                    .stars {
                        display: flex;
                        align-items: center;
                    }

                }
            }
        }
    }
}