@import '../../../styles/variables';
@import '../../../styles/mixins';

.tab {
    display: flex;
    align-items: center;
    gap: $spacing-xm;
    padding: $spacing-smd $spacing-lg;
    transition: all 0.2s ease;
    cursor: pointer;

    .text {
        font-weight: 400;
        color: $info-color;
        font-size: $font-size-sm;
        line-height: 100%;
        letter-spacing: 0;
        white-space: nowrap;
    }

    // border: 1px solid $info-color
    &:hover {
        background-color: $primary-color-fade;
        border-left: 3px solid $primary-color;
    }

    &--active {
        background-color: $primary-color-fade;
        border-left: 3px solid $primary-color;
    }

}