// Colors
$primary-color: #39CDCC;
$primary-color-fade: #39CDCC33;
$secondary-color: #2ecc71;
$danger-color: #E4033B;
$info-color: #545F7D;
$info-color-fade: #545F7D33;
$tetiary-color: #213F7D;
$tetiary-color-sfade: #213F7D33;
$tetiary-color-fade: #213f7d05;
$tetiary-color-fade-s: #213f7d0D;
$text-color: #000;
$bg-color: #ffffff;
$bg-color-secondary: #FBFBFB;

// Font sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 40px;

// Spacing
$spacing-xm: 4px;
$spacing-sm: 8px;
$spacing-smd: 10px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-ll: 50px;
$spacing-tl: 100px;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 992px;