@import '../styles/variables';
@import '../styles/mixins';

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dashboard {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
    // overflow-y: auto;

    // &::-webkit-scrollbar {
    //     display: none;
    // }

    .text-dashboard {
        font-weight: 500;
        font-size: $font-size-xl;
        line-height: 100%;
        letter-spacing: 0px;
        color: $info-color
    }

    .users {
        @include grid-columns(4);

        @media (max-width: $breakpoint-tablet) {
            @include grid-columns(2);
        }

        @media (max-width: $breakpoint-mobile) {
            @include grid-columns(1);
        }
    }
}