@import '../styles/variables';
@import '../styles/mixins';

.dashboard {
    flex: 1;
    height: 100%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    .text-dashboard {
        font-weight: 500;
        font-size: $font-size-xl;
        line-height: 100%;
        letter-spacing: 0px;
        color: $info-color
    }

    .users {
        @include grid-columns(4);

        @media (max-width: $breakpoint-tablet) {
            @include grid-columns(2);
        }

        @media (max-width: $breakpoint-mobile) {
            @include grid-columns(1);
        }
    }
}