// Import variables and mixins first
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import 'variables';
@import 'mixins';

// Global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: $text-color;
    background: $bg-color;
    height: 100vh;

    // @include flex-center;
}