@import '../styles/variables';
@import '../styles/mixins';

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-layout {
    height: 100%;
    // overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        display: none;
    }

    .back {
        display: flex;
        align-items: center;
        gap: $spacing-xm;
        cursor: pointer;

        .back-text {
            font-weight: 400;
            font-size: $font-size-base;
            line-height: 100%;
            letter-spacing: 0px;
            color: $info-color;
        }

    }

    .btn-section {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user-text {
            font-weight: 500;
            font-size: $font-size-xl;
            line-height: 100%;
            letter-spacing: 0px;
            color: $tetiary-color;

        }

        .btn {
            display: flex;
            gap: $spacing-sm;
        }
    }

    .nav {
        width: 100%;
        background-color: $bg-color;
        border-radius: 4px;
        min-height: 210px;
        border: 1px solid $tetiary-color-fade-s;
        padding: $spacing-xl;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);

        .inner-div {
            display: flex;
            align-items: center;


            @include mobile {
                flex-direction: column;
                align-items: center;
                gap: $spacing-sm;
                justify-content: center;
            }

            .user-right {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: $tetiary-color-sfade;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .user-left {
                @include flex-center;
                justify-content: start;


                @include mobile {
                    flex-direction: column;
                    align-items: center;
                    gap: $spacing-sm;
                }

                .group {
                    display: flex;
                    flex-direction: column;
                    padding: $spacing-md $spacing-xl;
                    gap: $spacing-sm;


                    @include tablet {
                        align-items: start;
                        gap: $spacing-sm;
                    }

                    @include mobile {
                        align-items: center;
                        gap: $spacing-sm;
                    }


                    &--first {
                        padding-left: $spacing-md;


                        @include tablet {
                            padding-left: $spacing-xl;

                        }
                    }

                    &--border {
                        border-right: 1px solid $info-color-fade;
                        border-left: 1px solid $info-color-fade;
                    }

                    .name {
                        font-weight: 500;
                        font-size: $font-size-lg;
                        line-height: 100%;
                        letter-spacing: 0px;
                        color: $tetiary-color;

                        &--user {
                            font-size: 14px;
                            color: $info-color;

                        }

                        &--id {
                            font-weight: 400;
                            font-size: 14px;
                            color: $info-color;
                        }

                        &--bank {
                            font-weight: 400;
                            font-size: 12px;
                        }

                    }

                    .stars {
                        display: flex;
                        align-items: center;
                    }

                }
            }
        }

        .nav-btn {
            display: flex;
            justify-content: space-between;
            overflow-x: auto;

            .btn {
                font-weight: 400;
                font-size: $font-size-base;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                padding: $spacing-smd;
                transition: all 0.2s ease;
                color: $text-color-fade;
                cursor: pointer;

                span {
                    white-space: nowrap;
                }


                &--active {
                    border-bottom: 2px solid $primary-color;
                    color: $primary-color;
                }
            }
        }
    }
}