@import '../../../styles/variables';
@import '../../../styles/mixins';

.input-container {
    border-radius: 5px;
    border: 2px solid $info-color;
    display: flex;
    @include flex-center;
    width: 100%;
    overflow: hidden;


    &--search {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid $tetiary-color;
    }

    .input {
        width: 100%;
        padding: $spacing-sm $spacing-md;
        font-size: 14px;
        transition: border-color 0.2s ease;
        border: none;
        outline: none;
        font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

        &--error {
            border-color: $danger-color;

            &:focus {
                border-color: darken($danger-color, 10%);
            }
        }

        &::placeholder {
            color: $info-color;
            font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
        }
    }

    .show-btn {
        margin-right: $spacing-sm;
        background: none;
        border: none;
        cursor: pointer;
        color: $primary-color;
        font-size: $font-size-xs;
        font-weight: 600;
        flex-shrink: 0;
    }


}