@import '../../../styles/variables';
@import '../../../styles/mixins';

.sidebar {
    height: 100vh;
    // min-width: 283px;
    width: 20%;
    // border: 1px solid red;
    overflow-y: scroll;
    position: fixed;
    top: 100px;
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xl;
    -webkit-box-shadow: 2px 0px 15px 0px rgba(84, 95, 125, 0.03);
    box-shadow: 2px 0px 15px 0px rgba(84, 95, 125, 0.03);
    z-index: 999;

    &::-webkit-scrollbar {
        display: none;
    }

    .top {
        display: flex;
        flex-direction: column;
        gap: $spacing-xl;
        margin-bottom: $spacing-md;
    }

    .sidebar-costumer {
        margin-bottom: $spacing-xl;
        display: flex;
        flex-direction: column;
        // gap: $spacing-sm;

        .sidebar-costumer-title {
            padding: $spacing-smd $spacing-lg;
            font-size: $font-size-xs;
            font-weight: 500;
            letter-spacing: 0%;
            line-height: 100%;
            color: $info-color;

        }
    }
}